.headers{
    display:flex;
}
.header-items{
    color:black;
    text-decoration: none;
    padding: 25px;
    font-weight: 900;
    font-size: 20px;
}
.button-login{
    color:white;
    background-color: #FF7723;
    border: hidden;
    font-weight: 550;
    width: 150px;
    height: 40px;
    border-radius: 7px;
    padding: 10px;
    margin-top: 18px;
    margin-right: 2px;
    margin-left: 100px;
    cursor: pointer;
    text-align: center;
}
.logo{
    color:#FF7723;
    font-size: 60px;
    font-weight: bolder;
    margin-top: 2px;
    margin-left: 15px;
}
.header-slogan{
    font-family: Comic Sans MS;
    margin: 80px 0px ;
    text-align:center;
}
.slogan-1{
    font-weight: 900;
    font-size: 60px;
    line-height: 62px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.slogan-2{
    color: #FF7723 ;
    font-weight: 900;
    font-size: 60px;
    line-height: 62px;
    text-transform: uppercase;
}
.provide-info
{
    font-size: 40px;
    margin-left: 60px;
    text-align: center;
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:600 ;
    text-transform: uppercase;
}
.intro
{
    background-color: #FF7723;
    width: 100%;
    padding: 4rem;
    text-align: center;
    color: white;
    font-size: 38px;
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}
.to-do-list-product{
    color:black;
    text-decoration: none;
    margin: 25px;
    margin-left: 250px;
    font-weight: 900;
    font-size: 20px;
}

.para-under-header{
    margin-left: 250px ;
    margin-bottom: 15px;
    display: inline-block;
    font-size:70px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}
.dicripts{
    text-align: center;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 50px;
}
.request-demo{

    margin-left: 540px;
}
.font-footer{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: medium;
}
.changButton{
    color:white;
    background-color: rgb(194, 30, 30);
    border: hidden;
    font-weight: 550;
    width: 180px;
    height: 50px;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer
}
.colorText{
    color: #FF7723;
}
.borderColor{
    border-color: #FF7723;
}
.intro-footer
{
    background-color: #FF7723;
    width: 100%;
    display: flex;
}
.discrips-footer{
    margin-left: 5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
.title-footer{
    padding-left: 4rem ;
    text-decoration: none;
    font-weight: 900;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.outer-footer{
    margin-top : 80px;
    margin-bottom : 5rem;
}